<div class="login-section">
  <div class="row justify-content-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>로그인</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group row">
              <label for="user_name" class="col-md-4 col-form-label text-md-right">Username</label>
              <div class="col-md-6">
                <input
                  type="text"
                  id="user_name"
                  class="form-control"
                  [formControlName]="'username'"
                  name="user_name"
                  required autofocus
                />
                <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
                  잘못된 이름입니다.
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
              <div class="col-md-6">
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  [formControlName]="'password'"
                  name="password"
                  required
                />
                <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                  잘못된 비밀번호입니다.
                </span>
              </div>
            </div>

            <span class="col-md-6 offset-md-4">
              <button type="submit" class="login">
                로그인
              </button>
              <span style="padding-left: 15px">새 계정 생성: <a routerLink="/sign-up">회원가입</a></span>
            </span>
            <div class="login-failed" *ngIf='this.isError'>
              <p class="login-failed-text">로그인 실패했습니다 다시 시도해 주세요</p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
